<?xml version="1.0"?>
<launch>
    <arg name="pkg_path" default="$(find lidar2cam_calibration)"/>
    
    <rosparam file="$(find lidar2cam_calibration)/cfg/params.yaml" />
    <param name="pkg_path" type="string" value="$(arg pkg_path)"/>
    
    <node pkg="lidar2cam_calibration" name="data_frame_extraction_node" type="data_frame_extraction_node" output="screen"/>

    <!-- view and dynamic_reconfigure -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(arg pkg_path)/rviz/1.rviz" output="screen"/>
    <node type="rqt_reconfigure" name="rqt_reconfigure" pkg="rqt_reconfigure" output="screen"/> 

</launch>